@import "../abstracts/variable";
@import "../abstracts/mixin";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


//Media query manager

/*
0-600px         phone
900-1200px      tablet portrait
1200-1800px     tablet landscape
[1200-1800]     is our normal styles
1800px          Big desktop
1em = 16px

ORDER: base + typography > general layout + grid > pagelayout > components
*/

html {
    //this defines what 1 rem is
    font-size: 63.5%; // 1 rem = 16px; 10/16 = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px 9/16= 56.25
    }

    @include respond(tab-port) {
        font-size: 50%; //1 rem = 8px 8/16= 50
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem 12px 12/16 = 75
    }

    // @include respond(tab-land) {
    //     font-size: 56.25%; // 1rem = 9px 9/16= 56.25
    // }

}

body {
    box-sizing: border-box; 
    padding: 3rem;
    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}